html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.action-button{
  margin: 0 5px;
}

.specialise{
  display: inline-block;
  margin: 0;
}