<template>
  <router-view></router-view>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'App'
})
</script>

<style>
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 p{
   margin: 0;
   font-family: Roboto,serif;
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
 }

 .container{
   margin: 0 auto;
   max-width: 1010px;
 }
</style>
