<template>
  <q-page class="main">
    <div class="container" style="top: 0.001em;">
      <div class="navigation q-my-lg row">
        <q-btn to="/lesson">Мои уроки</q-btn>
        <q-btn href="#">Настройки</q-btn>
        <q-btn to="/profile/addTeacher">Стать учителем</q-btn>
        <AddLesson></AddLesson>
        <q-btn to="/profile/schedule">Расписание</q-btn>
      </div>
      <div class="q-pa-md">
        <q-card class="my-card">
          <q-tabs v-model="tab" class="text-teal">
            <div class="column card-height">
              <q-tab label="Профиль" name="profile" />
              <q-tab label="Email" name="email" />
              <q-tab label="Пароль" name="password" />
              <q-tab label="Расписание" name="schedule" />
              <q-tab label="История платежей" name="pay-story" />
              <q-tab label="Уведомления" name="notifications" />
            </div>
          </q-tabs>

          <q-separator vertical />

          <div class="panel">
            <q-tab-panels v-model="tab" animated>

              <q-tab-panel class="panel-color" name="profile">
                <div class="profile-title">
                  <h4 class="profile-settings-text">Настройки профиля</h4>
                </div>
                <div class="profile-container">
                  <h5 class="profile-edit-text">Фото профиля</h5>
                  <div class="profile-info">
                    <div class="profile-box row justify-end items-center">
                      <div class="download-info">
                        <p class="text-info">Макс. размер - 1 мб.</p>
                        <p class="text-info">JPG или PNG</p>
                      </div>
                      <div class="download-photo column items-center">
                        <div class="avatar">
                          <img src="../../assets/profileImages/ivan-avatar.png" alt="image">
                        </div>
                        <div class="download-photo-button">
                          <q-btn class="button-text" unelevated rounded color="green-10" label="Загрузить фото" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="profile-edit">
                    <q-form class="q-mt-sm">
                      <q-input class="q-my-sm" color="cyan-2" rounded outlined
                        v-model="name"
                        label="Имя"
                      />
                      <q-input class="q-my-sm" color="cyan-2" rounded outlined
                        v-model="surname"
                        label="Фамилия"
                      />
                      <q-input class="q-my-sm" color="cyan-2" rounded outlined
                        v-model="phone"
                        label="Номер телефона"
                        mask="(###) ### - ####" fill-mask
                      />
                      <q-select class="q-my-sm" color="cyan-2" rounded outlined v-model="model" :options="options" label="Город" />
                      <q-btn class="button-text" type="submit" unelevated rounded color="indigo" label="Сохранить" />
                    </q-form>
                  </div>
                </div>
              </q-tab-panel>

              <q-tab-panel class="panel-color" name="email">
                <div class="profile-title q-mt-md">
                  <h4 class="email-settings-text">Изменить Email</h4>
                  <h5 class="address-text">(эл. адрес)</h5>
                </div>
                <div class="profile-container">
                  <div class="profile-container">
                    <q-form>
                      <q-input
                        rounded outlined
                        v-model="email"
                        label="Email"
                        hint="Введите новый email-адрес"
                      />
                      <q-btn class="button-text q-mt-md" type="submit" unelevated rounded color="indigo" label="Сохранить" />
                    </q-form>
                  </div>
                </div>
              </q-tab-panel>

              <q-tab-panel class="panel-color" name="password">
                <div class="profile-title q-mt-md">
                  <h4 class="email-settings-text">Изменить Пароль</h4>
                </div>
                <div class="profile-container">
                  <div class="profile-container">
                    <q-form>
                      <q-input class="q-my-sm" v-model="password"  rounded outlined :type="isPwd ? 'password' : 'text'" label="Пароль" hint="Введите новый пароль">
                        <template v-slot:append>
                          <q-icon
                            :name="isPwd ? 'visibility_off' : 'visibility'"
                            class="cursor-pointer"
                            @click="isPwd = !isPwd"
                          />
                        </template>
                      </q-input>
                      <q-input v-model="password"  rounded outlined :type="isPwd ? 'password' : 'text'" label="Подвтерждение пароля" hint="Подвтвердите пароль">
                        <template v-slot:append>
                          <q-icon
                            :name="isPwd ? 'visibility_off' : 'visibility'"
                            class="cursor-pointer"
                            @click="isPwd = !isPwd"
                          />
                        </template>
                      </q-input>
                      <q-btn class="button-text q-mt-md" type="submit" unelevated rounded color="indigo" label="Сохранить" />
                    </q-form>
                  </div>
                </div>
              </q-tab-panel>

              <q-tab-panel class="panel-color" name="schedule">
                <div class="profile-container">
                  <div class="text-center">
                    <h5>Период
                      <p></p>
                    </h5>
                  </div>
                  <div id="schedule" class="row">
                    <td style="padding: 3px;" v-for="(availableSlots) in schedule.availebleSlots.hours" :key="availableSlots.day">
                      {{availableSlots.day}}.{{availableSlots.month}}
                      <tr v-for="(hours) in schedule.availebleSlots.hours[++index].hours">
                        <input  v-model="(checked[availableSlots.day+devider+availableSlots.month+devider+hours.hourName])" type="checkbox"/>
                        {{hours.hourName}}
                      <span></span></tr>
                    </td>
                </div>
                <button type="button" @click="getCheck()">Создать расписание</button>
                  <p>{{checked}}</p>
                  </div>
              </q-tab-panel>

              <q-tab-panel class="panel-color" name="pay-story">
                <div class="profile-title q-mt-md">
                  <h4 class="email-settings-text">История платежей</h4>
                </div>
                <div class="profile-container">
                  <q-table
                    style="height: 400px"
                    title="Treats"
                    :rows="rows"
                    :columns="columns"
                    row-key="index"
                    virtual-scroll
                    v-model:pagination="pagination"
                    :rows-per-page-options="[0]"
                  />
                </div>
              </q-tab-panel>

              <q-tab-panel class="panel-color" name="notifications">
                <div class="profile-title q-mt-md">
                  <h4 class="email-settings-text">Настройка уведомлений</h4>
                </div>
                <div class="profile-container">
                  <div class="notifications">
                    <p class="notification-text">Уведомления на эл. почту</p>
                    <div class="email-notifications">
                      <q-list class="q-my-md">
                        <q-item tag="label" v-ripple>
                          <q-item-section avatar>
                            <q-checkbox v-model="color" val="teal" color="teal" />
                          </q-item-section>
                          <q-item-section>
                            <q-item-label>Расписание уроков</q-item-label>
                            <q-item-label caption>Уведомление о новых уроках и изменениях в расписании</q-item-label>
                          </q-item-section>
                        </q-item>

                        <q-item tag="label" v-ripple>
                          <q-item-section avatar>
                            <q-checkbox v-model="color" val="orange" color="orange" />
                          </q-item-section>
                          <q-item-section>
                            <q-item-label>Общие напоминания</q-item-label>
                            <q-item-label caption>Уведомления об уроках, сообщениях от репетитора и платежах.</q-item-label>
                          </q-item-section>
                        </q-item>

                        <q-item tag="label" v-ripple>
                          <q-item-section avatar top>
                            <q-checkbox v-model="color" val="green" color="green" />
                          </q-item-section>
                          <q-item-section>
                            <q-item-label>Новости</q-item-label>
                            <q-item-label caption>Периодическая новостная рассылка с последними новшествами и предложениями.</q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>

                      <div class="quality row">
                        <p class="notification-text text-width">Улучшение качества</p>
                        <p class="tutor-text">tutor</p>
                      </div>
                      <q-item tag="label" v-ripple>
                        <q-item-section avatar top>
                          <q-checkbox v-model="color" val="blue" color="blue" />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label>Разрешить команде TUTOR связываться со мной
                            для улучшения сервиса</q-item-label>
                        </q-item-section>
                        <!--TODO Добавить кнопку-->
                      </q-item>
                    </div>
                  </div>
                </div>
              </q-tab-panel>
            </q-tab-panels>
          </div>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { getEmptyPeriod } from 'src/api/schedule'
import AddLesson from 'components/AddLesson'
export default defineComponent({
  name: 'ProfilePage',
  components: { AddLesson },
  setup () {
    return {
      index: -1,
      devider: "/",
      tab: ref('one'),
      password: ref(''),
      isPwd: ref(true),
      color: ref(['cyan'])
        }
  },
  data () {
    return{schedule: {}, 
          checked: [],
          available: []
}
  },
  methods: {
    async getPeriod() {
      const response = await getEmptyPeriod()
      if (response.data.value !== null) {
        this.schedule = response.data.value;
      } else {
        this.message = 'Произошла ошибка, сервис временно недоступен, попробуйте позднее.';
        this.persistent = true
      }
      console.log(this.schedule)
    },
    getCheck() {
      console.log(this.checked);
      this.checked.forEach(element => {
        this.available.push(element)
      })
    },
  },
  mounted() {
    this.getPeriod()
  }
})
</script>

<style scoped>
h4,h5,p,a{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.navigation-text{
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.my-card{
  display: flex;
  flex-direction: row;
  height: 46rem;
}

.panel{
  width: 80%;
  background-color: #EAF3FA;
}

.profile-settings-text{
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.profile-edit-text{
  font-size: 16px;
  line-height: 19px;
  color: #555555;
}

.text-info{
  font-size: 12px;
  line-height: 15px;
}

.button-text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
}

.panel-color{
  background-color: #EAF3FA;
}

.card-height{
  height: 100%;
}

.text-teal{
  display: flex;
  flex-direction: column;
}

.profile-container{
  margin: 30px auto;
  width: 80%;
}

.email-settings-text{
  display: inline;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color:  #000000;
}

.schedule-td{
  background-color: gray;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
.schedule{
  background-color: rgb(207, 140, 140);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.address-text{
  display: inline;
  font-size: 18px;
}

.notification-text{
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.text-width{
  width: 32%;
}

.tutor-text{
  display: inline-block;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
</style>
