﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AdminsPanel.ViewModels.Applications.ApplicationViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (Model is null)
{
    <h2>Пользователь не найден</h2>
}
else
{
    <div id="application-informationBlock">
        <h2>Информация о пользователе:</h2>
            <h5>Email: @Model.Email</h5>
        <h5>Статус: @Model.Status</h5>
        <input id="email-value" type="text" hidden value="@Model.Email">
        @if (Model.Description != null)
        {
            <h5>Дополнительная введенная информация от пользователя:</h5>
            <p>@Model.Description</p>
        }
        <h5>Список выбранных пользователем предметов: </h5>
    </div>
    @if (Model.ApplicationSpecialises.Any())
    {
        int increment = 0;
        @foreach (var specialise in Model.ApplicationSpecialises)
        {
            <input specialise="@specialise.Specialise" class="form-check-input" type="checkbox" id="@specialise.Specialise-@increment" value="option1">
            <label class="form-check-label" for="@specialise.Specialise-@increment">@specialise.Specialise</label>
            increment++;
        }
    }
    <h5>Действия:</h5>
    <div class="d-flex">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Сделать репетитором
            </button>
           <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#refuseTutor">
                       Отказать в репетиторстве
               </button>
    </div>
    <h2>Список сертификатов:</h2>
    @foreach (var certificate in Model.Certificates)
    {
        <img src="~/@certificate.Path" alt="Сертификат">
    }
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Выберите специальность</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div id="specialises" class="modal-body row">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" id="createTutor" onclick="createTutor()" class="btn btn-primary"
                            data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top"
                            data-bs-content="Выберите специальность">Сделать репетитором</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="refuseTutor" tabindex="-1" aria-labelledby="refuseTutorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="refuseTutorLabel">Укажите причину отказа</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body row">
                 <textarea  name="" id="refuseCommentary"></textarea>
                 <div id="alertMessage"></div>
                </div>
                   <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" onclick="refuseTutor()"  class="btn btn-primary"
                        data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top"
                        data-bs-content="Введите причину отказа">Отказать</button>
                </div>
            </div>
        </div>
    </div>
}
