<template>
  <div class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center">
    <h2>ERROR</h2>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'ErrorNotFound'
})
</script>
