<template>
  <q-page class="main">
    <div class="container">
      <div class="q-pa-md">
        <q-markup-table>
          <thead>
          <tr>
            <th class="text-left">Название урока</th>
            <th class="text-right">Дата создания</th>
            <th class="text-right">Имя учителя</th>
            <th class="text-right">Действия</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(room) in rooms">
            <td class="text-left">{{room.name}}</td>
            <td class="text-right">{{room.dateCreate}}</td>
            <td class="text-right">{{room.creator}}</td>
            <td class="text-right"><q-btn v-bind:to="'room/'+room.name+'/'+room.address" >К уроку</q-btn></td>
          </tr>
          </tbody>
        </q-markup-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import api from 'src/requests'
export default {
  name: 'AllRooms',
  data () {
    return {
      rooms: {
        creator: {},
        dateCreate: '',
        name: '',
        address: ''
      }
    }
  },
  mounted () {
    this.getAllRooms()
  },
  methods: {
    async getAllRooms () {
      const response = await api.get('/Room/All')
      if(response.data.value !== null) {
       this.rooms = response.data.value
      }
    }
  }
}
</script>

<style scoped>

</style>
